
<!-- Wrapper-->
<div id="wrapper" style="padding-top: 0;">

  <!-- Nav -->
    <%= render partial: "nav" %>

  <!-- Main -->
    <div id="main">

      <!-- Me -->
        <article id="me" class="panel">
          <%= render partial: "me" %>
        </article>

      <!-- Work -->
        <article id="work" class="panel">
          <%= render partial: "work" %>
        </article>

      <!-- Artifacts -->
        <article id="artifacts" class="panel">
          <%= render partial: "artifacts" %>
        </article>

      <!-- About -->
        <article id="about" class="panel">
           <%= render partial: "about" %>
        </article>

      <!-- Contact -->
        <!-- <article id="contact" class="panel">
           <%= render partial: "contact" %>
        </article> -->

    </div>

  <!-- Footer -->
    <%= render partial: "footer" %>
</div>
