<!DOCTYPE html>
<html>
<head>
  <title>A Petry | A Portfolio</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <title>A Petry | A Portfolio</title>
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <link
    rel="shortcut icon"
    type="image/ico"
    href="../assets/favicon.png" />
  <!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
</head>
<body>


<% unless flash[:error].nil? %>
 <div id="error">
   <p><%= flash[:error]%></p>
 </div>
<% end %>
<% unless flash[:notice].nil? %>
  <div id="success">
   <p><%= flash[:notice]%></p>
 </div>
<% end %>

<%= yield %>

</body>
</html>
